---
interface Props {
  title: string;
  description: string;
  image: string;
  author: string;
}

const { title, description, author } = Astro.props;

let subtitle = "Mica's blog";
---

<!-- general meta -->
<meta name="title" content={`${title} - ${subtitle}`} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:title" content={`${title} - ${subtitle}`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />

<!-- page title -->
<title>{title} - {subtitle}</title>
